@model ElaineCristina09112017.Pessoa

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Pessoas</li>
        <li class="breadcrumb-item active" aria-current="page">Visualizar</li>
    </ol>
</nav>

<div>
    <h4>PESSOA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STRNOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STRNOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STRCPF)
        </dt>
    
        <dd id="tdCPF">
            @Html.DisplayFor(model => model.STRCPF)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.DTNASCIMENTO)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.DTNASCIMENTO)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.DTCADASTRO)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.DTCADASTRO)
        </dd>
    
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDPESSOA }) |
    @Html.ActionLink("Voltar", "Index")
</p>

<script>
    $(document).ready(function () {
        $("#tdCPF").mask('000.000.000-00');
    });
</script>
